* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    font-size: 28px;
    color: #333;
}

.tabel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: 12px;
    text-transform: uppercase;
}

tbody tr {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 10px;
}

tfoot {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
